
/* Feel free to remove these styles or customise in your own stylesheet 👍*/
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif ;
    font-Weights: 400, 700;
  }


  p{
    color:  hsl(220, 15%, 55%);
    font-size: 15px;
  }

  h1{
    color: hsl(218, 44%, 22%);
    font-size: 28px;
  }

  #codeQr{
    text-align: center;
    width: 25%;
    margin: 50px auto;
    padding: 15px 15px;
   background-color: hsl(0, 0%, 100%);
   border-radius: 25px;
  }


  img{
    width: 100%;
    display: block;
    margin-left: auto;
    border-radius: 10px;
  }
  
  @media(max-width: 830px){
    #codeQr{
    text-align: center;
    width: 90%;
    margin: 50px auto;
    padding: 8px 8px;
   background-color: hsl(0, 0%, 100%);
   border-radius: 15px;
  }

  }
